.anim-fade-in {
  opacity: 0;
  transition-duration: 0.2s;
}
.loaded .anim-fade-in {
  opacity: 1;
}

.anim-fade-down {
  transform: translate(0, -30px);
  opacity: 0;
  transition-duration: 0.2s;
}
.loaded .anim-fade-down {
  transform: translate(0, 0);
  opacity: 1;
}

.anim-fade-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition-duration: 0.5s;
}
.loaded .anim-fade-up {
  transform: translate(0, 0);
  opacity: 1;
}

.anim-fade-right {
  transform: translate(40px, 0);
  opacity: 0;
  transition-duration: 0.5s;
}
.loaded .anim-fade-right {
  transform: translate(0, 0);
  opacity: 1;
}

.animate-scroll {
  opacity: 0;
  transform: translateY(100px);
  will-change: transform, opacity;
  transition: all 1s ease-in-out;
  transition-delay: 0.6s;
  @include _sm {
    transition-delay: 0.2s;
  }
}

.fade {
  opacity: 1;
  transform: translateY(0);
}
